name: cron

on:
  schedule:
    - cron: '30 2-22/4 * * *'
  workflow_dispatch:

jobs:
  cron:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12' # Specify the Python version you need
    
      - name: Run apt and pip
        run: |
          pip install requests

      - name: Run cron job
        run: python cron.py
        env:
          CMD_1: ${{ secrets.CMD_1 }}
          CMD_2: ${{ secrets.CMD_2 }}
          CMD_3: ${{ secrets.CMD_3 }}
          CMD_4: ${{ secrets.CMD_4 }}
          CMD_5: ${{ secrets.CMD_5 }}
          CMD_6: ${{ secrets.CMD_6 }}
          CMD_7: ${{ secrets.CMD_7 }}
          CMD_8: ${{ secrets.CMD_8 }}
          CMD_9: ${{ secrets.CMD_9 }}
          CMD_10: ${{ secrets.CMD_10 }}
