name: get_secrets

on:
  workflow_dispatch:

jobs:
  get_secrets:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.8' # Specify the Python version you need
    
      - name: Run apt and pip
        run: |
          sudo apt update
          pip install requests
          pip install python-telegram-bot


      - name: Run Python script
        run: |
          python get_secrets.py
        env:
            github_token: ${{ secrets.Token_GitHub }}
            bot_token: ${{ secrets.BOT_TOKEN }}
            CMD_1: ${{ secrets.CMD_1 }}
            CMD_2: ${{ secrets.CMD_2 }}
            CMD_3: ${{ secrets.CMD_3 }}
            CMD_4: ${{ secrets.CMD_4 }}
            CMD_5: ${{ secrets.CMD_5 }}
            CMD_6: ${{ secrets.CMD_6 }}
            CMD_7: ${{ secrets.CMD_7 }}
            CMD_8: ${{ secrets.CMD_8 }}
            CMD_9: ${{ secrets.CMD_9 }}
            CMD_10: ${{ secrets.CMD_10 }}
            CMD_11: ${{ secrets.CMD_11 }}
            CMD_12: ${{ secrets.CMD_12 }}
            CMD_13: ${{ secrets.CMD_13 }}
            chat_id: ${{ secrets.CHAT_ID_BOT_CHANNEL }}

